@import url("../style/modal.css");
@import url("../style/popup.css");
@import url("../style/utils.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0; */
    --background: rgb(245, 245, 245);
    --background-popup: rgba(0, 0, 0, 0.205);
    --white: rgb(255, 255, 255);
    --text-primary: rgb(255, 108, 71);
    --bg-primary: rgba(255, 108, 71, 0.2);
    --text-muted: rgb(127, 127, 127);
    --divider: rgba(214, 212, 212, 0.5);
  }
}
/* 
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
 */
/* @layer base { */
/* h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  } */
/* } */

/* .space-between {
  @apply flex flex-row justify-between items-center;
} */
